#!/bin/sh
#
# PROVIDE: poolmon
# REQUIRE: dovecot
# KEYWORD: shutdown
#
# Define poolmon_* variables in one of these files:
#       /etc/rc.conf
#       /etc/rc.conf.local
#       /etc/rc.conf.d/poolmon
. /etc/rc.subr

name=poolmon
rcvar=poolmon_enable

start_precmd="${name}_prestart"

# read configuration and set defaults
load_rc_config ${name}
: ${poolmon_enable:="NO"}
: ${poolmon_flags:=""}
: ${poolmon_pidfile:="/var/run/poolmon.pid"}
: ${poolmon_lockfile:="/var/run/poolmon.lck"}
: ${poolmon_user:="root"}

command="/usr/local/sbin/poolmon"
command_interpreter="/usr/local/bin/perl"

poolmon_prestart() {
  if ! head -1 $command | grep -q "/usr/local/bin/perl"; then
    echo "patch perl path in $command"
    sed -i '' 's@#!\/.*perl@#!/usr/local/bin/perl@' $command
  fi
}
run_rc_command "$1"

